@import '../../variables';

mat-table {
  background-color: $color-medium-neutral;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: table;
  th {
    color: $color-primary;
    font-weight: $font-weight-bold;
  }

  td {
    &.mat-cell,
    &.mat-header-cell {
      padding: 10px;
    }
  }
  .mat-row:hover {
    background-color: lighten($color-medium-neutral, 5%);
    cursor: pointer;
  }

  tr.mat-mdc-header-row {
    height: 30px;
  }
}
