<div *ngIf="isLoading; else chatsTable">
  <app-spinner></app-spinner>
</div>

<ng-template #chatsTable>
  <mat-table [dataSource]="oldChats">
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef>Topic</th>
      <td mat-cell *matCellDef="let chat"><app-format-message [message]="chat" [showEntity]="false"></app-format-message></td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let chat">{{ moment(chat.created_at).fromNow() }}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let chat"><button (click)="deleteChat(chat.chatId)">Delete</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['text', 'created', 'delete']"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: ['text', 'created', 'delete']"></tr>
  </mat-table>
</ng-template>
