<div *ngIf="!isLoggedIn">
  <h1>Welcome to Secure Programming Assistant</h1>
  <p>
    This application is designed to help you write secure code by providing you
    with the information you need to make informed decisions about the security
    of your code.
  </p>
  <p>
    The language model consults the OWASP website documents to provide you with
    the most up-to-date information on common security vulnerabilities and how
    to avoid them.
  </p>
</div>

<div *ngIf="isLoggedIn">
  <h1>Welcome back</h1>

  <div class="dashboard__chat-box">
    <ng-container *ngFor="let message of currentChatMessages">
      <app-format-message [message]="message"></app-format-message>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <app-spinner class="dashboard__spinner"></app-spinner>
    </ng-container>
    <div class="chat_box">
      <input
        type="text"
        #ctrl="ngModel"
        placeholder="Type your message here"
        [(ngModel)]="currentMessage"
        (keyup.enter)="sendMessage()"
        class="dashboard__input"
      />
      <button (click)="sendMessage()" [disabled]="isLoading">Send</button>
    </div>
  </div>
</div>
